.card {
  min-width: 267px;
  width: 21.68%;
  min-height: 328px;
  margin: 0 15px 32px; /* this margin linked with catalog margin */
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
}

.img {
  width: 100%;
  margin-bottom: 2px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 7px 24px 24px 24px;
}

.name {
  line-height: 1.4;
  font-size: 18px;
  color: #343030;
  word-break: break-word;
}

.box {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.currentPrice {
  font-weight: 700;
  font-size: 16px;
  color: #343030;
}

.oldPrice {
  font-weight: 300;
  font-size: 14px;
  text-decoration-line: line-through;
  color: #a0a0a0;
}

.btn {
  min-width: 118px;
  padding: 15px 8px;
  margin-left: 6px;
}

.soldOut {
  margin: 23px 0 15px;
  font-weight: 700;
  font-size: 16px;
  color: #343030;
}

@media (max-width: 1199px) {
  .card {
    width: 30.4%;
    margin: 0 10px 20px; /* linked with catalog margin */
  }
}

@media (max-width: 991px) {
  .card {
    min-width: 260px;
    width: 47%;
    margin: 0 7px 14px; /* linked with catalog margin */
  }
}

@media (max-width: 575px) {
  .card {
    width: 98%; /* linked with catalog margin */
  }
}
