.card {
  /* width: 280px; */
  /* width: 23.8%; */
  width: 21.68%;
  min-height: 328px;
  margin: 0 16px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #e1e1e1;
}

.img {
  width: 100%;
}

/* .card:first-child {
  margin: 0;
} */

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /* align-items: center; */
  padding: 7px 24px 24px 24px;
}

.name {
  margin: 2px 0 23px;
  line-height: 1.4;
  font-size: 18px;
  color: #343030;
  word-break: break-word;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.currentPrice {
  font-weight: 700;
  font-size: 16px;
  color: #343030;
}

.oldPrice {
  font-weight: 300;
  font-size: 14px;
  text-decoration-line: line-through;
  color: #a0a0a0;
}

.btn {
  padding: 15px 19px;
  margin-left: 6px;
}

.soldOut {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #343030;
}

@media (max-width: 1023px) {
  .card {
    width: 30.4%;
    margin: 0 10px 10px;
  }
}

@media (max-width: 767px) {
  .card {
    width: 47%;
    margin: 0 10px 10px;
  }
}

@media (max-width: 424px) {
  .card {
    width: 98%;
  }
}
