.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px; /* hack for add margin to card but save grid / margin linked with card margin*/
}

.soldOut {
  font-size: 20px;
  color: #343030;
}

@media (max-width: 1199px) {
  .catalog {
    margin: 0 -10px;
  }
}

@media (max-width: 991px) {
  .catalog {
    margin: 0 -7px;
  }
}
