.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -5px; 
    /* hack for add margin to card but save grid */
}

.soldOut {
    font-size: 20px;
    color: #343030;
}